:root {
    --pink: #FF7F99;
    --yellow: #FFCA41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

h1 {
    color: var(--)
}

.Header_8vh {
    background-color: var(--pink);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paddingRight {
    padding-right: 2vw;
}

.labelWe {
    background: var(--pink);
    border-color: var(--pink);
    border-style: none;
    font-size: 18pt;
    font-weight: bold;
    color: whitesmoke;
    padding-left: 20px;
    cursor: pointer;
}

.Yellow {
    font-size: 18pt;
    font-weight: bold;
    color: var(--yellow);
}

.roundCorner {
    background: var(--pink);
    border-color: var(--pink);
    border-style: none;
    border-width: thin;
    border-radius: 20px 20px 20px 20px;
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.roundCorner:hover {
    background: #ffc94181;
}

@media (max-width: 200px) {
    /* Adaptar la cabecera para móviles Android */

    .paddingRight {
        padding-right: 0vw;
    }

    .roundCorner {
        padding-left: 3px;
        padding-right: 3px;
    }
}