:root {
    --pink: #FF7F99;
    --yellow: #FFCA41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

h1 {
    color: var(--)
}

.Header_8vh {
    background-color: #FF7F99;
    height: 8vh;
    border-left: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paddingRight {
    padding-right: 2vw;
}
.labelWe {
    background: #FF7F99;
    border-color: #FF7F99;
    border-style: none;
    font-size: 18pt;
    font-weight: bold;
    color: whitesmoke;
    padding-left: 20px;
}
.colorFFCA41 {
    font-size: 18pt;
    font-weight: bold;
    color: #FFCA41;
}
.roundCorner {
    background: #FF7F99;
    border-color: #FF7F99;
    border-style: none;
    border-width: thin;
    border-radius: 20px 20px 20px 20px;
    height: 5vh;
    width: 8vw;
    padding-left: 10px;
    padding-right: 10px;
    color: whitesmoke;
}
.roundCorner:hover {
    background: #FFCA41;
}