:root{
    --pink: #FF7F99;
    --yellow: #FFCA41;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}


h1{
    color: var(--)
}

.coders{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.perfil{
 width:10vw;
 height:10vw;   
}

.icono{
    width: 3vw;
    height:3vw;   
}