:root {
    --pink: #FF7F99;
    --yellow: #FFCA41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

.Header_8vh {
    background-color: var(--pink);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paddingRight {
    padding-right: 2vw;
}

.labelWe {
    background: var(--pink);
    border-color: var(--pink);
    border-style: none;
    font-size: 18pt;
    font-weight: bold;
    color: whitesmoke;
    padding-left: 20px;
    cursor: pointer;
}

.Yellow {
    font-size: 18pt;
    font-weight: bold;
    color: var(--yellow);
}

.roundCorner {
    background: var(--pink);
    border-color: var(--pink);
    border-style: none;
    border-width: thin;
    border-radius: 20px 20px 20px 20px;
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.icon-name {
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: space-around;
}

.myResponsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;

}
.avatar {
    position: relative;
    width: 50vh;
    height: 50vh;
    margin-left: 5rem;
    background-color: var(--pink);
    border-radius: 100% 0px 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxName {
    width: 70vw;
    padding-left: 10vw;
}


.textName {
    text-align: left;
    color: var(--pink);
    font-size: xx-large;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 32pt;
    font-weight: bold;
}

.textName p:nth-child(2) {
    margin-top: -25px;
}

.boxCV {
    display: flex;
    flex-direction: column;
    padding-left: 30vw;
    margin-top: -22vh;
}

.boxEmployee {
    width: 74%;
    padding-left: 10vw;
}

.roundCornerYellow {
    background: var(--yellow);
    border-color: var(--yellow);
    border-style: none;
    border-width: thin;
    border-radius: 20px 20px 20px 20px;
    height: 6vh;
    padding-left: 10px;
    padding-right: 10px;
    color: whitesmoke;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
}

.call {
    display: flex;
    align-items: center;
    padding-left: 10vw;
}

.icono2vh {
    width: 40px;
    height: 40px;
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
    padding-right: 10px;
}

.roundCorner:hover {
    background: #ffc94181;
}

@media (max-width: 575px) {
    .paddingRight {
        padding-right: 0vw;
    }
    .roundCorner {
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media (max-width: 768px) {
    .boxEmployee {
        padding-left: 5vw;
    }
    .boxCV {
        padding-left: 15vw;
    }
}


.coders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.coders-card {
    margin-top: 3rem;
    margin-bottom: 1rem;

}



.perfil {
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    transition: transform 1s ease;
}

.perfil:hover {
    transform: rotate(360deg);
}

.icono {
    width: 2vw;
    height: 2vw;
    transition: 0.5s;
}

.icono:hover {
    width: 3vw;
    height: 3vw;
}

.coders {
    background-color: var(--pink);
}

.container-coder h2 {
    color: white;
}

.about-figure img {
    border-radius: 100%;
    width: 95%;
    height: 95%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.about-text-heading {
    text-align: left;
    color: var(--pink);
    font-size: xx-large;
}

.about-text-subtitle {
    font-size: medium;
}

.about-text-button {
    background-color: var(--yellow);
}

@media (max-width: 768px) {
    .coders {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .icono {
        width: 5vw;
        height: 5vw;

    }

    .perfil {
        width: 30vw;
        height: 30vw;
    }



}

@media (max-width: 575px) {
    .coders {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icono {
        width: 5vw;
        height: 5vw;

    }

    .perfil {
        width: 40vw;
        height: 40vw;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}