<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap" rel="stylesheet">
    <title>Noob Devs S.A.</title>
    <link rel="icon" href="img\NoobDevsLogo.png">
</head>

<body>
    <main>
        <nav>
            <div class="Header_8vh">
                <a class="labelWe" href="../index.html">
                    <p>WeHelp<span class="Yellow">You</span></p>
                </a>
                <div class="paddingRight">
                    <button class="roundCorner">
                        <p>Somos</p>
                    </button>
                    <button class="roundCorner">
                        <p>Equipo</p>
                    </button>
                    <button class="roundCorner">
                        <p>Contáctanos</p>
                    </button>
                </div>
            </div>
        </nav>
        <section class="about">
            <div class="about-figure">
                <img src="../img/monsterAlex.jpg" alt="Imagen Alejandro">
            </div>

            <div class="about-text">
                <div class="boxName textName">
                    <p>Alejandro Junquera</p>
                </div>

                <div class="boxName">
                    <h2>Ingeniero Industrial</h2>
                </div>
                <div class="boxEmployee">
                    <p>
                        Condecorado como especialista en Javascript (curso 300 horas) y desarrollo web Frontend MDNF5
                        (curso 130 horas)
                    </p>
                </div>
                <div class="call">
                    <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"
                            class="icono2vh"></a>
                    <button class="roundCornerYellow">
                        <p>Te llamamos</p>
                    </button>
                </div>
            </div>
        </section>
        </nav>
        <section class="coders">
            <div class="coders-card">
                <div class="container-coder">
                    <a href="./borja-view.html"><img src="../img/Borja.PNG" alt="Foto de un coder"
                            class="perfil"></a>
                    <h2>Borja Fernandez</h2>
                    <p>back end</p>
                    <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"
                            class="icono"></a>
                </div>
            </div>
            <div class="coders-card">
                <div class="container-coder">
                    <a href="./alejandro-view.html"><img src="../img/monsterAlex.jpg" alt="Foto de un coder"
                            class="perfil"></a>
                    <h2>Alejandro Junquera </h2>
                    <p>ingeniero industrial</p>
                    <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"
                            class="icono"></a>
                </div>
            </div>
            <div class="coders-card">
                <div class="container-coder">
                    <a href="./alvaro-view.html"> <img src="../img/imagenalvaro.jpg" alt="Foto de un coder"
                            class="perfil"></a>
                    <h2>Alvaro Sanchez </h2>
                    <p>tengo el titulo de bachiller</p>
                    <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"
                            class="icono"></a>
                </div>
            </div>
            <div class="coders-card">
                <div class="container-coder">
                    <a href="./sara-view.html"><img src="../img/loquesea.jpg" alt="Foto de un coder"
                            class="perfil"></a>
                    <h2>Sara Lorenzo</h2>
                    <p>frontend</p>
                    <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"
                            class="icono"></a>
                </div>
        </section>
    </main>
</body>

</html>