<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" >
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap" rel="stylesheet">
    <title>Noob Devs S.A.</title>
    <link rel="icon" href="img\NoobDevsLogo.png">
</head>
<body>
    <main>
        <nav>
            <div class="Header_8vh">
                <a class="labelWe" href="../index.html">
                    <p>WeHelp<span class="Yellow">You</span></p>
                </a>
                <div class="paddingRight">
                    <button class="roundCorner">
                        <p>Somos</p>
                    </button>
                    <button class="roundCorner">
                        <p>Equipo</p>
                    </button>
                    <button class="roundCorner">
                        <p>Contáctanos</p>
                    </button>
                </div>
            </div>
        </nav>
        <section class="about">
            <div class="about-figure">
                <img src="../img/loquesea.jpg" alt="Imagen corporativa de Noob Devs S.A.">
            </div>

            <div class= "about-text">
                <div class= "about-text-heading">
                    
                <div class="about-text-subtitle">
                    <h1>Sara Lorenzo</h1> 
                    <h5>Manca de nacimiento</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quam distinctio laboriosam iste doloremque asperiores ut magnam fuga inventore dolor, 
                        ipsam eligendi sint sapiente enim assumenda autem earum. Iure aliquam delectus sint natus laudantium nihil. Sit dolorem et tenetur, vitae quasi iusto quod nobis. Accusamus, repellendus magnam itaque quas sed assumenda tempore, alias quasi quo culpa reprehenderit, in cum voluptatibus?.</p>
                  
                <div class="btn-contact">
                    <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin" class="icon-coder"></a>
                    <button class="about-text-button"> <p>Te llamamos</p></button>
                </div>
            </div>          
        </section>
    </nav>
    <section class="coders">
      <div class="coders-card">
        <div class="container-coder">
          <a href="./borja-view.html"><img src="../img/Borja.PNG" alt="Foto de un coder" class="perfil"></a>
          <h2>Borja Fernandez</h2>
          <p>back end</p>
          <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"
              class="icono"></a>
        </div>
      </div>
      <div class="coders-card">
        <div class="container-coder">
          <a href="./alejando-view.html"><img src="../img/monsterAlex.jpg" alt="Foto de un coder" class="perfil"></a>
          <h2>Alejandro Junquera </h2>
          <p>ingeniero industrial</p>
          <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"
              class="icono"></a>
        </div>
      </div>
      <div class="coders-card">
        <div class="container-coder">
          <a href="./alvaro-view.html"> <img src="../img/imagenalvaro.jpg" alt="Foto de un coder"
              class="perfil"></a>
          <h2>Alvaro Sanchez </h2>
          <p>tengo el titulo de bachiller</p>
          <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin" class="icono"></a>
        </div>
      </div>
      <div class="coders-card">
        <div class="container-coder">
          <a href="./sara-view.html"><img src="../img/loquesea.jpg" alt="Foto de un coder" class="perfil"></a>
          <h2>Sara Lorenzo</h2>
          <p>frontend</p>
          <a href="https://www.linkedin.com/"> <img src="../img/linkedin-icon.svg" alt="red social linkedin"class="icono"></a>
        </div>
    </section>
  </main>
</body>

</html>